<h1> You are editing in ID number <%= @articles.id %> with the title of <%= @articles.title %>!</h1>



<%= form_with model: @articles, url: {action: :update} do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <% @articles.errors.full_messages_for(:title).each do |message|%>
      <div><%= message %></div>
    <% end %>

  <br/>
    <%= form.label :body %>
  <%= form.text_field :body %>
  <% @articles.errors.full_messages_for(:body).each do |message|%>
      <div><%= message %></div>
    <% end %>

  <br/>
  <%= form.submit "Submit!"%>
<% end %>